*{
	margin: 0;
	padding: 0;
}

.main_container{
	width: 300px;
	background-color: #1AA4FF;
}

.header{
	text-align: center;
	background-color: #EE8129;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 0;
}

.content{
	background-color: #FFFFFF;
	border-color: #EE8129;
	border-style: solid;
}