*{
	margin: 0;
	padding: 0;
}

.main_container{
	margin: 100px;
	width: 300px;
	background-color: #1AA4FF;
	border-radius: 1px;
}

.header{
	text-align: center;
	background-color: #EE8129;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 0;
}

.content{
	background-color: #FFFFFF;
	border-color: #EE8129;
	border-style: solid;
}

.iconic{
	text-align: center;
	color: #35495A;
}
.iconic p:first-of-type{
	font-size: 20px;
	padding: 25px 0 15px 0;
	text-transform: uppercase;
}

.iconic p:last-of-type{
	font-size: 50px;

}

.iconic p:last-of-type::before{
	content: "$";
	font-size: 10px;
}

.iconic p:last-of-type::after{
	content: "Monthly";
	font-size: 10px;
}

.list_content{
	margin: 5px 10px;
}
li{
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 1px;
	list-style-type: none;
	color: #888C94;
}

li::before{
	content: url(check.png);
	margin-right: 10px;
}

li:nth-child(odd){
	background-color: #EDF5FD;
}

li:nth-child(even){
	background-color: #F5F5F6;
}

.button{
	background-color: #EE8129;
	margin: 20px 10px 30px 10px;
	padding: 10px 0 10px 0; 
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 7px;
	border-bottom: 3px solid #B3560B;
}

