*{
	margin: 0;
	padding: 0;
	font-family: 'Oxygen Mono', monospace;
}

header{
	overflow: hidden;
	width: 932px;
	margin: auto;	
	/*height: 300px;*/
}

.logo{
	float: left;
}
.logo > h1{
	font-family: 'Oleo Script', cursive;
	font-weight: bold;
	font-size: 50px;
}

.logo > p{
	color: #666;
	font-size: 10px;
	padding-left: 5px;
}

nav{
	float: right;
	/*position: relative;*/
	width: 524px;
	font-size: 15px;
}
nav>li{
	display: inline-block;
	padding-left: 20px;
	padding-top: 25px;
	color: #666;
}
nav>li>button{
	background-color: #ffc24b;
	color: white;
	box-shadow: none;
	border: none;
	padding: 8px;
	border-radius: 8px;
}

nav>li>button:active {
	box-shadow: 2px 2px 2px grey;
}
nav>li:hover > .sub_menu{
	display: block;
}
.sub_menu{	
	position: absolute;
	border: 1px solid #E3E3E3;
	/*margin-top: 10px;*/
	z-index: 10;
	display: none;
	background-color: white;

}

.sub_menu>li{
	list-style-type: none;
	margin: 20px;
	padding: 2px;
	position: relative;
	color: #666;
	
}

.sub_menu>li:after{
	content: '';
	border-bottom: 1px solid #666;
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
	
}

nav>li:hover{
	color: black;
}
.sub_menu>li:hover{
	background-color: #F3F3F3;
}

.hero{
	width: 820px;
	/*border: 1px solid black;*/	
	margin: 85px auto 0 auto;
	overflow: hidden;
	color: #515151;
	word-spacing: -7px;
	padding: 6px 6px 61px 6px;
	border-bottom: 1px solid #9d9d9d;
}

.blockWithImg{
	position: relative;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	width: 292px;
	height: 191px;
	background-image: url(img/spider.jpg);
	float: left;
}

.navImg{
	/*border: 1px solid yellow;*/
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 48px;
}

.leftArrow{
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	width: 12%;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url(img/sliderarrow.png);
	background-position: center;
	background-repeat: no-repeat;
}

.mainImgBlock{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13%;
	right: 13%;
	font-size: 9px;
	word-spacing: normal;
	background-color: rgba(0, 0, 0, 0.5);
}

.mainImgBlock>span:nth-child(1){
	color: #f6f6f6;
	font-size: 12px;
}
.mainImgBlock>span:nth-child(2){
	color: #ffc14c;
}
.mainImgBlock>span:nth-child(3){
	color: #4e4f4f;
}


.rightArrow{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 12%;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url(img/sliderarrow.png);
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.imgDiskr{
	text-align: right;
}
.imgDiskr>p:nth-child(1){
	font-size: 36px;
}
.imgDiskr>p:nth-child(2){
	font-size: 10px;
	word-spacing: normal;
	padding-bottom: 19px;
	border-bottom: 1px solid #f6f6f6;
}

.imgDiskr > button{
	position: relative;
	text-align: left;
	margin-top: 10px;
	background-color: #ffc24b;
	color: white;
	box-shadow: none;
	border: none;
	border-radius: 8px;
	padding: 8px 22px 8px 7px;
	line-height: 90%;
	width: 186px;
}

.imgDiskr > button>span{
	color: #d28600;
	font-size: 9px;
}

.imgDiskr > button>.arrowR{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	width: 41px;
	background-image: url(img/headerarrow.png);
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0 8px 8px 0; 
	border-left: 1px solid #ffb138;
}


.content_1{
	width: 932px;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	color: #666;
}
.content_1 > h2{
	text-align: left;
	margin-bottom: 20px;
}
.content_1 > div{
	display: inline-block;
	margin-right: -10px;
	vertical-align: top;
	text-align: left;
	padding: 10px;
	box-sizing: border-box; 
}

.content_1_left{
	width: 33%;
	/*border: 1px solid black;*/
	/*box-sizing: border-box;*/ 
}

.content_1_center{
	width: 33%;
	/*border: 1px solid red;*/
	/*box-sizing: border-box;*/ 
}

.content_1_right{
	width: 33%;
	/*border: 1px solid green;*/
	/*box-sizing: border-box;*/
}

.content_1 > div > img{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #EFF0F2;
}

.cont_img{
	position: relative;
}
.cont_img > img{
	max-height: 100%;
	max-width: 100%;
}

.img_wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	display: none;
}

.wrapCircle{
	margin: auto;
	margin-top: 15%;
	text-align: center;
}
.wrap_c{
	height: 27px;
	width: 27px;
	background-color: #F1F1F1;
	position: relative;
	margin: auto;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	border: 5px solid rgba(0,0,0,0.2)
}

.wrap_c::after{
	position: absolute;
	height: 21px;
	width: 21px;
	background-image: url(img/buttonsSprite.png);
	background-repeat: no-repeat;
	content: '';
	top: 15%;
	left: 32%;
}

.wrapper_center{
	height: 44px;
	width: 44px
}


.wrapper_center::after{
	background-position: -47px 5px;
}

.wrapper_right:after{
	background-position: -102px 0;
}

.cont_img:hover > .img_wrapper{
display: block;
}
.cont_img_foot{
	background-color: #F0F0F0;
	line-height: 80%;
	padding: 15px 12px 7px;
	margin-top: -10px;
	position: relative;
}

.cont_img_foot::after{
	content: "";
	text-align: center;
	height: 13px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -13px;
	background: url("img/toothSprite.png") no-repeat;
}

.cont_img_foot>span:nth-child(1){
	font-size: 12px;
}

.cont_img_foot>span:nth-child(2){
	font-size: 8px;
	color: #868686;
}

.cont_cont{
	font-size: 10px;
	margin-top: 18px;
	padding: 8px;
}

.content_2{
	width: 932px;
	margin: auto;
	margin-top: 50px;
	color: #666;
	margin-bottom: 40px;

}

.content_line{
	border: 1px solid #EFEFEF;
	margin-top: 19px;
}

.line_tabs{	 
	background-color: #FBFBFB;
	border-bottom: 1px solid #EFEFEF;
}


.tabs{
	display: inline-block;
	padding: 14px 13px;
	border-right: 1px solid #EFEFEF;
	margin-right: -10px;
}

.tabs_1{
	background-color: #fff;
	/*border-bottom: 1px solid black;*/
}

.line_content{
	margin-top: 33px;
	overflow: hidden;
	padding: 0 20px 32px 20px;
}

.line_content > p{
	padding-bottom: 12px;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 16px;
}

.line_content_element{	
	float: left;
	padding: 0 10px 0 0;
	box-sizing: border-box;
	/*margin-right: 8px;*/
}

.line_content_left{
	width: 36%
}

.line_content_center{
	width: 32%
}
.line_content_right{
	width: 32%
}

.line_content_element>ul>li{
	list-style-position: inside;
	list-style-image: url(img/liarrow.png);
	font-size: 12px;
}

.line_content_img > img{
	float: left;
	padding-right: 10px;
	/*width:25px;*/
}

.line_content_element>p:nth-child(3){
	margin-top: 5px;
	font-size: 10px;
	color: #A8A8A8;
}

.line_content_element>p:nth-child(2){
	font-weight: bold;
	font-size: 12px;
	color: #333;
}

.content_2_selector{
	background-color: #FDE6BA;
	color: #BF7E00;
}








