*{
	margin: 0;
	padding: 0;
}
.feed_back{
	background: url(testimonialsbackground.jpg);
	background-size: 100%;
}

.main_feed_div{
	margin: 40px 400px;
	/* text-align: center; */
}

.main_feedback{
	width: 1000px;
	margin: auto;
	top: 0;
	right:0;
	bottom:0;
	left:0;
}


.main_feed_div>h1{
	text-align: center;
	color: #3170A8;
	text-transform: uppercase;
	/*margin-bottom: 20px;*/
}

.main_feed_div>h1>span{
	color: #EE8129;
}

.feedback{
	width: 480px;
	display: inline-block;
	vertical-align: top;
	margin-top:40px;
}

.photo{
	float: left;
	width: 20%;
	/*margin-top: 20px;*/

}

.feed_text{
	float: left;
	width: 60%;
	margin-left: 28px;
	padding: 20px 20px;
	background-color: #F7F7F7;
}

.feed_username{
	float: left;
}

.feed_userposid{
	float: right;
}

.feed_header{
	overflow: hidden;
	color: #3070A8;
	border-bottom: 1px dotted black;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

